*.aps
*.obj
*.iobj
*.ipdb
*.pdb
*.exp
*.lib
*.res
*.idb
*.res
*.db
*.opendb
*.suo
*.ipch
*.cache
*.log
bin32/*
bin64/*
lib32/*
lib64/*
*.tlog
include/*
packages/*
# Visual Studio 
.vs/*
# Visual Studio Code
.vscode/*
src/psqlodbc/psqlodbcBuilder/x64_*
src/*/x64
src/*/Win32
src/*/*/x64
src/*/*/Win32
src/IntegrationTests/ITODBCResults/test_odbc_results1.cpp
src/IntegrationTests/ITODBCResults/memory_leak_report.txt
src/IntegrationTests/ITODBCHelper/ITODBCHelper.vcxproj.user
src/IntegrationTests/ITODBCExecution/memory_leak_report.txt
src/IntegrationTests/ITODBCResults/ITODBCResults.vcxproj.user
LICENSE.txt
/AWSSDK/
/sdk-build/
/CMakeFiles/
/googletest/
/installer/
/IntegrationTests/
/odfeenlist/
/odfesqlodbc/
/PerformanceTests/
/UnitTests/
*.filters
*.vcxproj
*.sln
cmake_install.cmake
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
CTestTestfile.cmake
/sdk-build64/
/cmake-build64/
